@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+AU+SA:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LucidaHandwriting"; /* Name your font */
  src: url("./assets/font/lucidahandwriting_italic.ttf") format("truetype"); /* Path to the .ttf file */
  font-weight: normal;
  font-style: normal;
}

.prose {
  padding: 1rem;
  line-height: 1.8;
}

.prose h1,
.prose h2,
.prose h3 {
  color: #4a2d2b; /* Match your theme */
}

.prose p {
  margin-bottom: 1rem; /* Add spacing between paragraphs */
}

.prose ul {
  list-style: disc;
  padding-left: 2rem;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: #e79465;
  text-decoration: underline;
}

/* for navbar */
.menuLink {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.nav-special-wedding {
  color: black;
  text-shadow: 0 0 5px #ff007f, 0 0 10px #ff007f, 0 0 20px #ff007f,
    0 0 40px #ff007f;
}

.nav-special-baby {
  color: black;
  text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 20px #00bfff,
    0 0 40px #00bfff;
}
